/* RESET CSS */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SEZIONE ID */

/* SEZIONE TAG */

header{
    background-color: rgb(33, 37, 41);
}

main{
    margin-top: 30px;
}


table{
    width: 70%;
}

a{
    text-decoration: none;
    
}



/* SEZIONE CLASSI */

.bg-image{
    height: 50px;
}

.bg-search{
    width: 180%;
    
    
}

.t-color{
    color: rgb(115, 118, 120);
}

.pl-80{
    padding-left: 80px;
}


